<!DOCTYPE html>
<meta charset="utf-8" />
<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>

<body>
    <h1>
        RealTime Web Chat
    </h1>
    <div hx-ext="ws" ws-connect="/">
        <form ws-send>
            <input name="chat_message" />
            <input type="submit" />
        </form>
    </div>
    <div hx-swap-oob="beforeend#messages">
        {%if action == "join"%}
        <p>
            {{name}} is joined.
        </p>
        {%elif action == "disconnect"%}
        <p>
            {{name}} is disconnected.
        </p>
        {%else%}
        <p>
            {{name}}: {{text}}
        </p>
        {%endif%}
    </div>
    <div id="messages"></div>
</body>

</html>